* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  font-family: 'Poppins', sans-serif;
}
/* INIZIO HEADER */
header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  background-color: black;
  justify-content: space-between;
}
.home {
  color: red;
}
.choise, .choise_language, option {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  background-color: black;
  border: none;
  padding: 10px;
  color: white;
}
.searchBar {
  margin: 0 10px 0 10px;
  display: flex;
  width: 80%;
  justify-content: flex-end;
}
.searchMovie {
  margin:4px 10px 4px 5px;
  width: 40%;
  padding: 5px;
  border-radius: 5px;
}
.searchBar button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: red;
  color: white;
  border: none;
}
.home, button:hover {
  cursor: pointer;
}
/* FINE HEADER */
.searchReaults-container {
  padding-top: 150px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  color: white;
}
.searchReaults {
  color: white;
  padding: 10px;
  margin-bottom: 100px;
  border: 1px solid white;
  width: 370px;
  height: 545px;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.pages {
  display: flex;
  justify-content: center;
}
.number {
  margin: 10px;
  display: flex;
  background-color: red;
  color: white;
  justify-content: center;
  font-weight: bold;
  border-radius: 4px;
  height: 30px;
  width: 30px;
}
.image img {
  max-height: 100%;
}
.image {
  max-height: 100%;
}
.info:last-child {
  margin-top: 5px;
  overflow-y: auto;
}
.info, .image, .choise, .number {
  display: none;
}
.visible {
  display: flex;
}
.info strong {
  color: red;
  margin-right: 5px;
}
.active {
  display: block;
}
.language {
  width: 25px;
}
.fa-star {
  color: #EEC83D;
}
