* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  font-family: 'Poppins', sans-serif;
}
header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.home {
  color: red;
}
.searchBar {
  margin: 0 10px 0 10px;
  display: flex;
  width: 80%;
  justify-content: flex-end;
}
.searchMovie {
  margin-right: 10px;
  width: 40%;
  border-radius: 5px;
}
.searchBar button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: red;
  color: white;
  border: none;
}
.home, button:hover {
  cursor: pointer;
}
.searchReaults-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  color: white;
}
.searchReaults {
  color: white;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid white;
  width: 400px;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.info, .image {
  display: none;
}
.active {
  display: block;
}
.language {
  width: 25px;
}
.fa-star {
  color: #EEC83D;
}
