* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(93,0,0);
  background: radial-gradient(circle, rgba(93,0,0,1) 0%, rgba(0,0,0,1) 49%, rgba(56,56,56,1) 110%);
  font-family: 'Poppins', sans-serif;
}
/* INIZIO HEADER */
header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  background: transparent;
  justify-content: space-between;
}
.home {
  color: red;
}
.home2 {
  color: red;
  display: none;
}
.choise, .choise_language, option {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  background-color: black;
  border: none;
  padding: 10px;
  color: white;
}
.searchBar {
  margin: 0 10px 0 10px;
  display: flex;
  width: 70%;
  justify-content: flex-end;
}
.searchMovie {
  margin:4px 10px 4px 5px;
  width: 40%;
  padding: 5px;
  border-radius: 5px;
}
.searchBar button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: red;
  color: white;
  border: none;
}
.home, button:hover {
  cursor: pointer;
}
/* FINE HEADER */
.searchReaults-container {
  padding-top: 80px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  color: white;
}
/* carosello inizio */
#slideshow {
  display: flex;
  justify-content: center;
}
#slideshow div {
  justify-content: center;
  display: none;
}
#slideshow div.evident {
  display: flex;
}
#slideshow > div > img {
  padding: 0px 50px;
}
/* carosello fine */
.searchReaults {
  color: white;
  padding: 10px;
  margin-bottom: 100px;
  border: 1px solid white;
  width: 370px;
  height: 545px;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.pages {
  display: flex;
  justify-content: center;
}
.number {
  margin: 10px;
  display: flex;
  background-color: red;
  color: white;
  justify-content: center;
  font-weight: bold;
  border-radius: 4px;
  height: 30px;
  width: 30px;
}
/* parte del template inizio */
.image img {
  max-height: 100%;
}
.image {
  max-height: 100%;
}
.info:last-child {
  margin-top: 5px;
  overflow-y: auto;
}
.info, .image, .choise, .number {
  display: none;
}
.visible {
  display: flex;
}
.info strong {
  color: red;
  margin-right: 5px;
}
.active {
  display: block;
}
.language {
  width: 25px;
}
.fa-star {
  color: #EEC83D;
}
/* parte del template fine */

/* quando è sotto i 1190px scompare la prima immagine del carosello */
@media screen and (max-width:1190px) {
  #slideshow > div > img:first-child {
    display: none;
  }
}
/* quando è sotto i 745px scompare l'ultima immagine del carosello e cambia la scritta BOOLFLIX' */
@media screen and (max-width:745px) {
  #slideshow > div > img:last-child {
    display: none;
  }
  .home {
    display: none;
  }
  .home2 {
    display: block;
  }
}
